.login{
    width: auto;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .form{
        display: flex;
        flex-direction: column;
        input{
            height:30px;
            width: 300px;
            border-radius: 5px;
        }
        button{
            margin-top: 20px;
            padding: 10px;
            cursor: pointer;
            background-color: rgb(97, 167, 207);
        }
    }
}